<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NglView</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">NglView Test</span>
            </div>
        </nav>
    </div>
    <div class="container text-center">
        <div class="row gy-5">
            <div class="col"></div>
            <div class="col">
                <div class="p-3">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02" name="file">
                            <input type="submit" class="input-group-text" value="Upload">
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Bonds_with_Carbon"
                                name="Bonds_with_Carbon" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Bonds with Carbon
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Bonds_without_Carbon"
                                name="Bonds_without_Carbon" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Bonds without Carbon
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Names" name="Names"
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Names
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Background" name="Background"
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Black Background
                            </label>
                        </div>
                        <br>
                        <select class="form-select" aria-label="Default select example" name="atom_representation">
                            <option value="ball+stick">Representation</option>
                            <option value="hyperball">hyperball</option>
                            <option value="line">line</option>
                            <option value="ball+stick">ball+stick</option>
                            <option value="licorice">licorice</option>
                        </select>
                        <br>
                        <select class="form-select" aria-label="Default select example" name="pro_representation">
                            <option value="ribbon">Protein representation</option>
                            <option value="validation">validation</option>
                            <option value="unitcell">unitcell</option>
                            <option value="tube">tube</option>
                            <option value="trace">trace</option>
                            <option value="ribbon">ribbon</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>

</html>